/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-background-color: #DDE3DD;
    --ion-text-color: #222;
    --ion-card-background: #f0f0f0;
}